<nav class="bg-[#E7E7DB] h-32 w-full border-b-4 border-[#FF010A] flex justify-between items-center shadow-main">
    <img class="w-52 h-28" src="https://s3-alpha-sig.figma.com/img/cba9/870a/07f94524905dee5c114ece22519c0a14?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KHImID8NRfRHmuyAC0P1F9JVuGp2O9D1EZ565BQv7sEab4FFTBw3XDfSUx0VBRjj2GLds0kFC4N9XbxNnEisBwF7lF7r-rlO3rTzUi--JUSYCXxsAKT5RekAS43GYQ~K6~SOJ33gX6FW46KA9uuhjuw7fO8JUS9dC0G3ARtUJ~hKItwPB3OMu9Sh1pUiypaOTutWWWRCQV97TcQM-gKkm10MSnWPYJIdVbuK5TklfyNpWpHTtlqoNHLgll1sqfmvQG6UBkzLBULNCAvOY67ddsf71r7QHV3wtlPO97ntupbWILy27vvRYpCmFjM9XSfXPAkp5bN8BrXyWsGVYUBFuw__" alt="logo">
    <app-logo-menu></app-logo-menu>
</nav>
