<nav class="bg-[#1EB69A] h-32 w-full border-b-4 border-black flex justify-between items-center shadow-main ">
    <img class=" h-28 rounded-full" [src]="imagePath" alt="logo">
    <h1 class="font-kavoon text-2xl"> Le Bazar des Chimères</h1>
    <ul class=" flex flex-row justify-center gap-5 mr-8">
        <li><a class=" border-b-black border-b font-jacques-francois" href="/">Home</a></li>
        <li><a class=" border-b-black border-b font-jacques-francois" href="/panier">Panier</a></li>
        <li><a class=" border-b-black border-b font-jacques-francois" href="/checkout">Commande</a></li>
    </ul>
</nav>
