
<a (click)="onLogoClick()">
    <img [ngClass]="{'shadow-main': !isMenuVisible, 'shadow-[inset_0px_0px_5px_rgba(0,0,0,0.8)]': isMenuVisible}"
        class="w-28 h-28 border-2 border-black rounded-lg mr-20"
        [src]="imagePath"
        alt="logo2">
</a>
<div *ngIf="isMenuVisible"
    class="absolute bg-[#E7E7DB] border-2 border-[#FF010A] p-3 rounded-lg flex flex-col gap-2">
    <a href="">Nouvelle aventure</a>
    <div class="h-[1px] bg-[#FF010A] w-4/5 m-auto"></div>
    <a href="">Mes aventures</a>
    <div class="h-[1px] bg-[#FF010A] w-4/5 m-auto"></div>
    <a href="/charactere">Perso</a>
    <div class="h-[1px] bg-[#FF010A] w-4/5 m-auto"></div>
    <a href="">Je ne sais pas</a>
</div>
