<!-- <button class="bg-[#E7E7DB] h-32 w-8"><ng-content /></button> -->
    <ul class="flex gap-10 flex-col fixed right-0 top-1/2 -translate-y-1/2 mt-10 ">
        <a class="bg-[#E7E7DB] h-32 w-8" href=""> pnj</a>
        <a class="bg-[#E7E7DB] h-32 w-8" href=""> pnj</a>
        <a class="bg-[#E7E7DB] h-32 w-8" href=""> pnj</a>
        <a class="bg-[#E7E7DB] h-32 w-8" href=""> pnj</a>
    </ul>
  <!-- <button *ngIf="display" (click)="toggleButtonVisibility()" class="border h-52 w-52">
    <ng-content></ng-content>
  </button> -->
  <!-- <button *ngIf="displayFalse" (click)="toggleButtonVisibility()" class="border h-52 w-52 bg-red-600">
    <ng-content></ng-content>
  </button> -->